<div class="head  ">
  <div class="search">
    <h3>المواد</h3>
  </div>
  <div class="icons">
    <div class="icon">
      <span>
        <i class="fa-regular fa-calendar-days"></i>
      </span>
      <span>
        <i class="fa-regular fa-comment"></i>
      </span>
      <span class="bell">
        <i class="fa-regular fa-bell"></i>
      </span>
    </div>
    <div class="avatar">
      <span class="img"> <img src="../../assets/img/059d24549593d0b9a19cb1762abc8900.png"></span>
      <div class="info">
        <h4>احمد سليمان</h4>
        <span>معلم</span>
      </div>
      <span class="down"><i class="fa-solid fa-chevron-down"></i></span>
    </div>
  </div>
</div>