.buttons {
  position: relative;
}

.buttons button {
  background-color: transparent;
  padding: 5px 10px;
  border: none;
}

.active::after {
  content: "";
  color: rgba(255, 59, 166, 1);
  border-bottom-color: rgba(255, 59, 166, 1);
  position: absolute;
  width: 20px;
  height: 20px;
}