<div class="sidebar">
  <h1 class="p-re txt-c mt-0">
    <span>
      <i class="fa-solid fa-book-open" style="color: #ffffff;"></i>
    </span>
    كتابك
  </h1>
  <ul>
    <li>
      <a href="" (click)="goToMain()">
        <i class="fa-solid fa-chart-simple fa-w"></i>
        <span>الرئيسية</span>
      </a>
    </li>
    <li>
      <a href="" class="" (click)="goToForm()">
        <i class="fa-solid fa-file-lines"></i>
        <span>المواد الدراسية</span>
      </a>
    </li>
    <li>
      <a href="" class="">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>تسجيل الخروج</span>
      </a>
    </li>
  </ul>
</div>