.sidebar {
  width: 250px;
  background-color: rgba(255, 212, 236, 1);
  padding: 20px;
  position: relative;
  height: 100%;
  min-height: 100%;
}

.sidebar h1 {
  position: relative;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  color: rgba(255, 60, 166, 1);
}


.sidebar h1 span {
  background-color: rgba(255, 60, 166, 1);
  display: inline-block;
  width: 59px;
  border-radius: 50%;
  height: 49px;
}

.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: rgba(9, 36, 52, 0.6);
  border-radius: 6px;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 5px;
}


.sidebar ul li a.active {
  background-color: #f6f6f6;
  color: rgba(255, 59, 166, 1);
}

.sidebar ul li a span {
  font-size: 15px;
  margin-left: 10px;
  padding: 5px;
}

.sidebar ul li:last-of-type {
  position: absolute;
  bottom: 0;
}

.sidebar ul li:last-of-type a {
  transition: 0.3s;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: rgba(255, 60, 166, 1);
  border-radius: 6px;
  padding: 10px;
  text-decoration: none;
}

@media(max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }

  .sidebar ul li a span {
    display: none;
  }
}

@media (min-width:320px) and (max-width: 418px) {
  .sidebar h1 {
    font-size: 18px;
  }

  .sidebar h1 span {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
  }

  .sidebar ul li a {
    padding: 10px 20px;
  }
}

@media (min-width:418px) and (max-width: 767px) {
  .sidebar h1 {
    font-size: 14px;
  }

  .sidebar h1 span {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
  }

  .sidebar ul li a {
    padding: 10px 20px;
  }
}

@media (min-width: 767px) and (max-width:1024px) {
  .sidebar {
    width: 150px;
  }
}